/* github: Chestnut-Rice */
.searchBarFix {
    width: 0px
}

.searchBackground {
    display: inline-block;
    margin-left: 250px;
    background-color: rgba(125, 125, 125, 0.2);
    width: 650px;
    padding: 0px 20px;
    font-weight: 200;
}