/**
 *  github: Chestnut-Rice
 *  Created by Przemyslaw Skwierczynski on 06.03.2017
 **/
.UserButton {
    margin-top: 12px;
    margin-right: 5px;
}

.UserButton:hover {
    cursor: pointer;
}

.UserButton:active {
    filter: brightness(88%);
}
.arrowUp::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 15px;
    margin-left: -5px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
}